<h1><%= @book.title %></h1>

<p>
  <b><%= Book.human_attribute_name(:edition) %>:</b>
  <%= @book.edition %>
</p>

<% if @book.published? %>
    <p>
      <b><%= Book.human_attribute_name(:published) %>:</b>
      <%= @book.published %>
    </p>
<% end %>

<p>
  <b><%= Book.human_attribute_name(:genre) %>:</b>
  <%= @book.genre %>
</p>

<p>
  <b><%= Book.human_attribute_name(:tags) %>:</b>
  <%= @book.tags %>
</p>

<p>
  <b><%= Book.human_attribute_name(:users) %>:</b>
  <%= @book.users_list %>
</p>

<div class="horizontal">
  <% unless @book.closed? %>
      <%= button_to I18n.t('views.edit'), edit_book_path(@book), method: :get %>
      <%= button_to I18n.t('views.book.close.close_book'), close_book_path(@book), data: {confirm: I18n.t('views.book.close.sure')} %>
  <% end %>
  <%= button_to I18n.t('views.book.new_edition'), new_edition_book_path(@book), method: :get %>
  <%= button_to I18n.t('views.book.export.pdf'), print_book_path(@book, :format => 'pdf'), method: :get %>
  <%= button_to I18n.t('views.destroy'), @book, method: :delete, data: {confirm: I18n.t('views.are_you_sure')} %>
</div>

<br/><br/><br/>

<h2><%= t 'views.chapter.index.title' %></h2>
<% if @book.has_chapters? %>
    <table>
      <tr>
        <th><%= Chapter.human_attribute_name(:title) %></th>
        <th><%= Chapter.human_attribute_name(:position) %></th>
        <% unless @book.closed? %>
            <th></th>
        <% end %>
      </tr>
      <% @book.chapters.each do |chapter| %>
          <tr>
            <td><%= link_to chapter.title, @book.closed? ? book_chapter_path(@book, chapter) : edit_book_chapter_path(@book, chapter) %></td>
            <td><%= chapter.position %></td>
            <% unless @book.closed? %>
                <td><%= button_to I18n.t('views.destroy'), book_chapter_path(@book, chapter), method: :delete, data: {confirm: I18n.t('views.are_you_sure')} %> </td>
            <% end %>
          </tr>
      <% end %>
    </table>
<% else %>
    <p><%= I18n.t('views.chapter.index.empty') %></p>
<% end %>

<br/>

<% unless @book.closed? %>
    <%= button_to I18n.t('views.chapter.index.new'), new_book_chapter_path(@book), method: :get %>
<% end %>

<br/><br/>

<%= button_to I18n.t('views.back'), books_path, method: :get %>
